<div class="_line fixed" data-anchor-target="#footer" data-300-bottom="margin-top:0px;"
     data-bottom-top="margin-top:-270px;"></div>
<div class="bottom fixed" data-anchor-target="#footer" data-300-bottom="bottom:120px;" data-bottom-top="bottom:370px;">
  <div class="box left_box">
    <span><%- date(Date.now(), 'MMMM YYYY') %></span>
    <strong><%- date(Date.now(), 'D') %></strong>
  </div>
  <div class="box right_box">
    <strong><%= site.posts.length %></strong><span>POSTS AT HOME PAGE</span>
  </div>
  <div class="l line1"></div>
  <div class="l line2"></div>
  <div class="l line3"></div>
  <div class="l line4"></div>
  <div class="circle"></div>


</div>
