<div class="bottom">
  <div class="box left_box">
    <span><%- date(Date.now(), 'MMMM YYYY') %></span>
    <strong><%- date(Date.now(), 'D') %></strong>
  </div>
  <div class="box right_box">
    <strong><%= site.posts.length%></strong><span>POSTS AT HOME PAGE</span>
  </div>
  <div class="line"></div>
  <div class="l line1"></div>
  <div class="l line2"></div>
  <div class="l line3"></div>
  <div class="l line4"></div>
  <div class="circle"></div>
  <%- paginator({show_all:true}) %>
</div>