<div class="center">
  <div class="top">
    <img src="/avatar1.jpeg" alt="">
    <img  class="img1" src="/avatar3.jpg" alt="">

  </div>
  <div class="line">

  </div>
  <div class="now">

  </div>
  <%- partial('partial/bottom') %>

</div>