<div class="center">
  <div class="top">
    <img  class="img1" src="/avatar.jpg" alt="">
    <img class="img2" src="/avatar2.png" alt="">
  </div>
  <div class="line">

  </div>
  <div class="now">

  </div>
  <%- partial('partial/bottom') %>

</div>