<div class="info">
  <div class="head">
    <h1>Candy Zheng</h1>
    <h3>front-end developer</h3>
  </div>

  <div class="figure">
    <div class="bg_img" style="background-image: url(/1.jpg)"></div>
  </div>
  <div class="passage">
    <h2>Candy Zheng</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium consequatur deserunt ea ex excepturi facilis, iste molestiae obcaecati pariatur provident quae quidem repellendus similique temporibus tenetur vero voluptate voluptatem?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at consequatur similique! A dicta dolorem dolores ipsam iusto quibusdam recusandae reprehenderit voluptatem! Culpa earum explicabo iusto maiores, necessitatibus officiis unde?</p>
  </div>
  <div class="info_more">
    <h2>More Info</h2>
    <p>
      Tele:180xxxxxxxx
    </p>
    <p>
      e-mail:candy.zheng@crabxlab.com
    </p>
    <p class="info_age" datetime="<%- full_date(theme.birthday) %>">

    </p>
    <p>
      address:xxxxxxxxxxxxxx
    </p>
  </div>
</div>
