<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container"></div>
<script src="../../../../d3.v3.min.js"></script>
<script type="text/javascript">
    var data=[10,20,30,30,20,40,30,60,80],
            bar_height=50,
            bar_padding=10,
            svg_height=(bar_height+bar_padding)*data.length,
            svg_width=600;
    var scale=d3.scale.linear()
            .domain([0,d3.max(data)])
            .range([0,svg_width]);
    var svg=d3.select("#container")
            .append("svg")
            .attr("width",svg_width)
            .attr("height",svg_height)
    var bar=svg.selectAll("g")
            .data(data)
            .enter()
            .append("g")
            .attr("transform",function(d,i){return "translate(0,"+i*(bar_height+bar_padding)+")"})
    bar.append("rect")
            .attr({
                "width":function(d){return scale(d)},
                "height":bar_height
            })
            .style("fill","#ddd");

            bar.append("text")
            .text(function(d){return d})
                    .attr({
                        "x":function(d){return scale(d)},
                        "y":bar_height/2,
                        "text-anchor":"end"
                    })
</script>

</body>
</html>