* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100% !important;
}

html {
    background: url(/bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: black;
}

.post p {
    line-height: 14px;
    font-size: 10px;
    padding: 8px 0
}

/*center*/
.top {
    border: 20px solid #DDDCDA;
    width: 240px;
    height: 240px;
    left: 50%;
    top: 30px;
    margin-left: -120px;
    border-radius: 50%;
    transition: all 1s;
    transform-origin: center top;
    z-index: 120;
    position: fixed;
}

.top a {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid #CDCACB;
    position: absolute;
}
.top a img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.img1 {
    transition: all .9s;
}

.img2 {
    opacity: 0;
    border: 20px solid #CDCACB;
}

.scroll {
    transform: scale(0.5);
    opacity: .9;
}

.hide {
    opacity: 0;
    transform: rotateY(360deg);
}

/*bottom*/
.fixed{
    position: fixed;
    left: 50%;
    margin-left: 1px;
}

.bottom {
    bottom: 120px;
    z-index: 120;
    transition: all .5s;
}

.line {
    width: 1px;
    height: 70%;
    background: #fff;
    top: 145px;
    z-index: -1;
}

.l {
    width: 1px;
    height: 40px;
    background: #A2938A;
    position: absolute;
}

.line1 {
    transform: rotate(90deg) translateY(30px);
}

.line2 {
    transform: rotate(0deg) translateY(30px);
}

.line3 {
    transform: rotate(-90deg) translateY(30px);
}

.line4 {
    transform: rotate(180deg) translateY(30px);
}

.circle {
    width: 20px;
    height: 20px;
    border: 2px solid #A2938A;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 10px;
    transition: all .5s;
    cursor: pointer;
}

.bottom:hover .circle {
    transform: scale(1.7);
}

.box {
    width: 140px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #A2938A;
    position: absolute;
    z-index: 120;
    transition: all .5s;
    top: -5px;
    cursor: pointer;
    background: rgba(163, 149, 140, 0);
}

.left_box {
    left: -190px;
}

.right_box {
    left: 50px;
}

.left_box:hover,.right_box:hover {
    background: rgba(163, 149, 140, 1);
}

.left_box span,.right_box span{
    float: left;
    display: block;
    color: #A3958C;
}
.left_box span{
    width: 30px;
    line-height: 22px;
    margin-left: 10px;
}
.right_box span {
    width: 70px;
    line-height: 16px;
    margin-left: 4px;
    font-size: 12px;
}

.left_box strong,.right_box strong {
    font-size: 34px;
    color: #A3958C;
    margin-top: 6px;
}

.left_box strong {
    float: right;
    margin-right: 5px;
}

.right_box strong {
    float: left;
    margin-left: 15px;
}

.left_box:hover strong, .left_box:hover span,.right_box:hover strong, .right_box:hover span {
    color: #fff;
}

/*timeline*/
.timeline {
    width: 88%;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline:before{
    content: '';
    display: table;
}
.post {
    clear: both;
    padding-bottom: 300px;
    position: relative;
    z-index: 110;
    width: 85%;
    margin: 200px auto;
}


.post .time_dot_date {
    width: 120px;
    margin: 0 auto;
}

.post .time_dot_date {
    height: 30px;
    border: 2px solid #A2938A;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    background: #F6F6F6;
    position: relative;
    z-index: 1;
}

@keyframes time_dot {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.time_dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #A2938A;
    margin:60px auto 0;
    background: #fff;
    cursor: pointer;
    transition: all .3s;
    animation: time_dot 1s infinite;
}

.time_dot:before, .time_dot:after {
    content: '';
    width: 30px;
    height: 1px;
    background: #fff;
    position: absolute;
    display: block;
    left: -35px;
    top: 6px;
}

.time_dot:before {
    left: 20px;
}
/*map*/

#map {
    width: 300px;
    height: 200px;
    border:20px solid rgba(0,0,0,.7);
    position: absolute;
    left: 50%;
    top: 140px;
    margin-left: -150px;
    background: transparent!important;
}

#close {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: #fff;
    display: block;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 187px;
    top: 142px;
    z-index: 131;
    border-radius: 50%;
    cursor: pointer;
}

.geolocation {
    font-size: 13px;
    color: #69f;
    width: 150px;
}

.post .left {
    width: 42%;
    float: left;
    margin-left: 55px;
}

.post .right {
    float: right;
    width: 42%;
    margin-right: -200px;
    margin-top: 200px;
}

.post .article {
    background: url(/bg1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 25px;

}

.post_date {
    font-size: 13px;
    color: #00cc66;
}

.figure {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.bg_img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    transition: all 1s;
}

.figure:before, .figure:after {
    content: '';
    width: 1px;
    height: 90px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -45px;
    transition: all .7s;
    opacity: 0;
    z-index: 110;
}

.figure:before {
    transform: rotate(90deg);
}

.bg_img:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    transition: all 1s;
    z-index: 100;
}

.figure:hover .bg_img {
    transform: scale(1.2);
}

.figure:hover .bg_img:before {
    background: rgba(0, 0, 0, .6);
}

.figure:hover:before,
.figure:hover:after {
    opacity: 1;
}

.article-more-link {
    color: #9a8c80;
}

.meta, .meta a {
    font-size: 14px;
    color: #9a8c80;
}

.info {
    width: 75%;
    max-width: 1200px;
    margin: 300px auto 0;
    background: rgba(218, 208, 177, 0.76);
    overflow: hidden;
    padding: 30px;
}

.info .figure {
    width: 30%;
    height: 400px;
    float: left;
}

.info .bg_img {
    width: 300px;
    height: 400px;
}

.passage {
    width: 30%;
    float: left;
    margin: 0 15px;
}

.passage p {
    line-height: 30px;
    font-size: 14px;
    color: #9a8c80;
}

.info h1, .info h3, .passage h2, .info_more h2 {
    color: #9a8c80;
}

.info .head {
    text-align: center;
}

.info h1 {
    border-bottom: 1px solid #9a8c80;
    padding-bottom: 50px;
    display: block;
}

.info h3 {
    padding: 10px;
    width: 220px;
    background: #E3D1AB;
    border: 1px solid #9a8c80;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    margin-left: -108px;
    margin-top: -40px;
}

.info_more {
    width: 36%;
    float: right;
}

.info_more p {
    border: 1px solid #9a8c80;
    display: inline-block;
    width: 330px;
    margin-bottom: 5px;
    padding: 22px;
    border-radius: 15px;
    color: #169219;
    font-weight: bold;
}

.full {
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
}
.post.fullpage{
    padding-bottom: 20px;
    margin:0 auto;
}
.full .figure, .full .figure .bg_img {
    width: 100%;
    height: 350px;
}

.footer {
    width: 100%;
    background: #3E3E3E;
    text-align: center;
    padding: 100px;
}

.paginator {
    text-align: center;
    position: fixed;
    z-index: 130;
    left: 80px;
    bottom: 77px;
}

.page-number {
    display: inline-block;
    width: 20px;
    height: 25px;
    background: #9a8c80;
    line-height: 25px;
    float: left;
    margin: 10px;

}
.page-number:hover{
    background: #2b81af;
    color: #fff;
}
.current{
    background: #2b81af;
}

/*sidebar*/
.sidebar{
    position: fixed;
    bottom:180px;
    right: -10px;
    z-index: 9999;
}
.sidebar .home{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #9a8c80;
    position: absolute;
    left: 50%;
    top: -50px;
    margin-left: -15px;
    text-align: center;
    line-height: 30px;
}
.home:before{
    content: '';
    width: 1px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: 30px;
    background: #3f3f3f;
}
.widget{
    position: relative;
}

.widget h5{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #0d3349;
    margin-left: 43px;
    margin-top: 0;
    transition: all .3s;
}
.widget:before{
    content: '';
    width: 1px;
    height: 130px;
    position: absolute;
    left: 46px;
    top: 8px;
    background: #3f3f3f;
}
.widget h5 a{
    width: 60px;
    height: 18px;
    background: #3f3f3f;
    border-radius: 8px;
    position: relative;
    display: inline-block;
    left: -80px;
    top: -2px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    opacity: 0.1;
    transition: all .3s;
}
.widget:hover a,.widget:hover .tags{
    opacity: 1;
}
.widget:hover h5{
    transform: scale(1.3);
}
.wrap{

}
.tags{
opacity: 0;
    transition: all .3s;
    background: #9a8c80;
    z-index: 1000;
    position: relative;
}
.tags ul{
    list-style: none;
    margin: 0;
    padding: 5px 0;

}
.tags li{
    padding: 5px;
    color: #fff;
    margin: 5px;
}

.archive{
    width: 50%;
    margin: 50px 5%;
    position: relative;
}
.archive:before{
    content: '';
    width: 1px;
    height: 100px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 30px;
    z-index: -1;
}
.archive .post_time_date{
    width: 100px;
    height: 30px;
    background: #fff;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #9a8c80;
    border-radius: 10px;
}
.archive h2{
    position: relative;
    left: 140px;
    top: -51px;
    text-align: left;
}
.archive h2:hover a{
    color: #1d7fee;
    font-weight: bolder;
}
